@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for Navbar */

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.neon-text {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #4169E1, 0 0 15px #4169E1, 0 0 20px #4169E1, 0 0 25px #4169E1, 0 0 30px #4169E1, 0 0 35px #4169E1;
}

.animate-spin-slow {
  animation: spinSlow 10s linear infinite;
}

.animate-bounce-slow {
  animation: bounceSlow 2s infinite;
}


/* Custom CSS for Home Page */ @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } } .animate-fade-in { animation: fadeIn 2s ease-in-out; }

